[submodule "src/Firmware/libraries/asysbus"]
	path = src/Firmware/libraries/asysbus
	url = https://github.com/bastianraschke/asysbus.git
	branch = Feature/Improvements-For-Light-Node
[submodule "src/Firmware/libraries/CAN_BUS_Shield"]
	path = src/Firmware/libraries/CAN_BUS_Shield
	url = https://github.com/bastianraschke/CAN_BUS_Shield.git
	branch = master
